* {
  background: #262626;
  foreground: #d0d0d0;

  dark0: #262626;
  dark1: #404040;
  dark2: #595959;
  dark3: #737373;

  light0: #e8e8e8;
  light1: #f6f6f6;
  light2: #fafafa;

  contrast0: #fb4934;
  contrast1: #b8bb26;
  contrast2: #fabd2f;
  contrast3: #83a598;
  contrast4: #d3869b;

  transparent: #000000;
}
